h1 {font-size: 20px;  }
.header {padding-left: 800px; }
.main {padding-left: 50px; }
.headline {padding-left: 300px;}
.gg {padding-left: 750px;}
.wp {padding-left: 750px;}
.am {padding-left: 750;}